/* Styles pour le formulaire d'annonce */
#announcement-form {
    background-color: rgb(231, 238, 255);
    padding: 20px;
    border-radius: 5px;
}

#announcement-form h2 {
    margin-bottom: 10px;
}

#announcement-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#announcement-form form label {
    font-weight: bold;
}

#announcement-form form input,
#announcement-form form select {
    padding: 5px;
    font-size: 1rem;
}

#announcement-form form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#announcement-form form button:hover {
    background-color: #0056b3;
}


.product-picture {
    position: relative;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.product-picture:hover .overlay {
    opacity: 1;
}

.product-picture input[type="file"] {
    display: none;
}



#upload-btn {
    border: 2px solid #007BFF; /* Border color for the button */
    border-radius: 5px; /* Rounded corners */
    background-color: white; /* Background color */
    width: 50px; /* Set width for the button */
    height: 50px; /* Set height for the button */
    display: flex; /* Center icon */
    justify-content: center; /* Center icon */
    align-items: center; /* Center icon */
    transition: background-color 0.3s; /* Smooth transition for background */
}

#upload-btn:hover {
    background-color: #e7f1ff; /* Light background on hover */
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px; /* Space above the images */
}

#image-container img {
    height: 100px; /* Size of images */
    width: 100px; /* Size of images */
    object-fit: cover; /* Ensure images fit within the size */
    margin-right: 5px; /* Space between images */
    margin-bottom: 5px; /* Space below images */
}



.fa {
    margin-right: 10px;
}

#checkbox {
    align-items: center;
}

#checkbox p {
    margin: 0;
}